extends layout.pug
include mixins/logoList.pug
include mixins/randomQuote.pug

block content
  .home
    .container-fluid
      .row
        h1= title
        p(class="lead")= message
        div.actions
          a(class='btn btn-primary btn-lg' href='/getting-started') Get Started
          a(class='btn btn-danger btn-lg' href='https://www.meetup.com/CodeHub-Bristol/') Meetup
          a(class='btn btn-primary btn-lg' href='/resources.html') Resources
          
      .row
        +logoList(logoList)
      
      .row
        h1 Kick start your JavaScript
        h1 with a friendly bunch of enthusiasts
    
      .row
        .col-lg-4
          h2 Previous Events
          p Find out what we've been up to
          a(class='btn btn-primary' href='https://github.com/CodeHubOrg/discussions/issues' target='_blank') View Details
        .col-lg-4
          h2 Discussion
          p Join us for a chat on our Gitter channel
          a(class='btn btn-primary' href='https://gitter.im/CodeHubOrg/discussions/' target='_blank') View Details
        .col-lg-4
          h2 Awesome Projects
          p Check out our latest projects
          a(class='btn btn-primary' href='https://github.com/CodeHubOrg' target='_blank') View Details
      .row
        .jumbotron
          h1 How to Contribute
            p Dive in to our Github Issues and see what you can do! 
            p We also need pages proof read and welcome feedback, suggestions and pull requests.
            a(class='btn btn-danger btn-lg' href='https://github.com/CodeHubOrg/javascript101/issues' target='_blank') Contribute
              
            a(class='btn btn-danger btn-lg' href='/feedback' target='_blank') Feedback 
      .row
        h1 Features
        .col-lg-3
          h2 Presentations
          p Learn more about JavaScript fundamentals
          a(class='btn btn-primary' href='/presentations' target='_blank') View Details
        .col-lg-3
          h2 Pair Programming
          p Two heads are better than one
          a(class='btn btn-primary' href='/pair-programming' target='_blank') View Details
        .col-lg-3
          h2 Code Reviews
          p Improve your code
          a(class='btn btn-primary' href='/code-reviews' target='_blank') View Details
        .col-lg-3
          h2 Bleeding Edge
          p Use the latest technologies
          a(class='btn btn-primary' href='/tech-stack' target='_blank') View Details
        .col-lg-3
          h2 Guidance
          p What to learn next
          a(class='btn btn-primary' href='/road-map' target='_blank') View Details
        .col-lg-3
          h2 Best Practises
          p Software development methodologies
          a(class='btn btn-primary' href='/best-practices' target='_blank') View Details
        .col-lg-3
          h2 Friendly Team Environment
          p Sharing is caring
          a(class='btn btn-primary' href='/collaborative-learning' target='_blank') View Details
        .col-lg-3
          h2 Level Up
          p Get prepared for professional work
          a(class='btn btn-primary' href='/careers' target='_blank') View Details
      .row
        h1 In Bristol and into JavaScript? You need to join Javascript101!
        a(class='btn btn-danger btn-lg' href='https://www.meetup.com/CodeHub-Bristol/') Join Now       
      .row
        .col-lg-3.poll
          .panel.panel-primary
            .panel-heading
              h3.panel-title Favourite Framework?
            .panel-body
              ul.list-group
                - var frameworks = ['React', 'Vue', 'Angular', 'Angular 2', 'Choo', 'Cycle', 'Backbone', 'Ember', 'Knockout']
                for framework in frameworks
                  li.list-group-item
                    checkbox
                      label
                        input(type='checkbox' value='')
                        =framework
            .panel-footer.text-center
              button(type='button' class='btn btn-primary btn-block btn-s')='Vote'
              a.small='View Result'

        .col-lg-4.gallery
          .panel.panel-primary
            .panel-heading
              h3.panel-title Gallery
            .panel-body            
              img(src='img/gallery/good-vs-definitive.jpg')
  
        .col-lg-4.terminal
          .panel.panel-primary
            .panel-heading
              h3.panel-title Command Line
            .panel-body
              p JavaScripts in your terminal
              a(class='btn btn-success' href='http://terminal.jcubic.pl/examples.php#starwars' target='_blank') A New Hope
              
        .col-lg-4.wonderland
          .panel.panel-primary
            .panel-heading
              h3.panel-title Are you ready for Wonderland?
            .panel-body
              a(class='btn btn-danger btn-lg' href='http://www.cornify.com' target='_blank') Yes 
              a(class='btn btn-primary btn-lg' href='https://www.youtube.com/watch?v=dQw4w9WgXcQs' target='_blank') No
               
                                  
        .col-lg-8.quote
          .panel.panel-primary
            .panel-heading
              h3.panel-title Inspiration
            .panel-body 
              +randomQuote(quotesInspiration) 

               
        .col-lg-8.quote
          .panel.panel-primary
            .panel-heading
              h3.panel-title God Father
            .panel-body 
              +randomQuote(quotesCrockford)
            
        .col-lg-8.quote
          .panel.panel-primary
            .panel-heading
              h3.panel-title Funsies
            .panel-body 
              +randomQuote(quotesJokes)  

      .row
        h1 Testimonials
        .col-lg-3.quote
          .panel.panel-primary
            .panel-heading
              h3.panel-title Twitter
            .panel-body Journey of a thousand miles is guided by the JavaScript 101 map! - Gicela 
            
        .col-lg-3.quote
          .panel.panel-primary
            .panel-heading
              h3.panel-title Twitter
            .panel-body Javascript 101 is the source, change your life, swear to god - Dave
            
        .col-lg-3.quote
          .panel.panel-primary
            .panel-heading
              h3.panel-title Twitter
            .panel-body Who knew functional programming would be so much fun!? - Katja 
            
        .col-lg-3.quote
          .panel.panel-primary
            .panel-heading
              h3.panel-title Twitter
            .panel-body I live to JavaScript 101.  I JavaScript 101 to live - Tim
            

          
      .row
        h1 What are you waiting for? Get Involved!
        h2 Next Meet up
        p Date...
        p Location...
        p 12 Members are attending...
        a(class='btn btn-danger btn-lg' href='https://www.meetup.com/CodeHub-Bristol/') Meetup
        
