extends layout.pug
include mixins/logoList.pug

block content
  .home
    .container-fluid
      .row
        h1= title
        p(class="lead")= message
        div.actions
          p #[a(href='/getting-started') Get Started], join us at a #[a(href='https://www.meetup.com/CodeHub-Bristol/') Meetup] or simply check out some of our #[a(href='/resources.html') Resources]  
    .container-fluid.jumbotron
      .row
        +logoList(logoList)
