/* Main styles
-------------------------------------------------- */
.home {
  text-align: center;
}
.home p {
  font-size: 24px;
}
.home .actions a {
  margin: 20px 5px;
}
.main {
  padding: 0px 15px;
  margin-bottom: 140px;
}
.row {
  padding: 40px 0;
}
.poll {
  text-align: left;
}
.poll input[type="checkbox"] {
  margin-right: 10px;
}
.gallery img {
  width: 100%;
}
.wonderland a {
  margin: 0 10px;
}

h3 {
  margin-top: 0;
}

/* Logo styles
-------------------------------------------------- */
.logos ul {
  list-style: none;
  max-width: 680px;
  margin: 60px auto;
  padding: 0px
}
.logos ul > li {
  display: inline-block;
  zoom:1;
  *display:inline;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin: 60px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  padding: 20px 0;
  background-color: #f5f5f5;
}
