mixin logo(logo)
    li(class="col-lg-2 col-md-2 col-sm-3 col-xs-4")
      a(href=logo.url, class="block")
        img(src=logo.src, alt=logo.alt, class="img-responsive center-block")

mixin logoList(logoList)
  div.logos
    ul(class="row")
      for logo in logoList
        +logo(logo)
