<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="/manifest.json">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Javascript101 is a meet up group in Bristol UK that provides a collaborative environment for learning Javascript best practises to industry standard.">
  <meta name="author" content="JavaScript 101 Meetup Bristol">
  <link rel="icon" href="/favicon.ico">
  <title>JavaScript 101</title>
  <!-- Le styles -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
</head>
