<div id="logos">
  <ul>
    <li><a href="http://www.codehub.org.uk/" target="_blank"><img src="img/logo/codehub.jpg" alt="Find out more"></a></li>
    <li><a href="https://www.meetup.com/CodeHub-Bristol/" target="_blank"><img src="img/logo/meetup.png" alt="Join us at the next meetup"></a></li>
    <li><a href="https://www.meetup.com/BristolJS/" target="_blank"><img src="img/logo/bristol-js.jpg" alt="Join us at the next meetup"></a></li>
    <li><a href="http://www.beatrootcafe.com/" target="_blank"><img src="img/logo/beetroot.jpg" alt="Join us at the next meetup"></a></li>
    <li><a href="https://gitter.im/CodeHubOrg/discussions/" target="_blank"><img src="img/logo/gitter.jpg" alt="Join us at the next meetup"></a></li>
    <li><a href="https://github.com/CodeHubOrg" target="_blank"><img src="img/logo/github.png" alt="Join us at the next meetup"></a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/" target="_blank"><img src="img/logo/js.jpg" alt="Join us at the next meetup"></a></li>
    <li><a href="https://nodejs.org/" target="_blank"><img src="img/logo/node.jpg" alt="Join us at the next meetup"></a></li>
    <li><a href="https://www.npmjs.com/" target="_blank"><img src="img/logo/npm.png" alt="Join us at the next meetup"></a></li>
    <li><a href="https://facebook.github.io/react/" target="_blank"><img src="img/logo/react.jpg" alt="Join us at the next meetup"></a></li>
    <li><a href="https://www.ubuntu.com/" target="_blank"><img src="img/logo/linux.png" alt="Join us at the next meetup"></a></li>
    <li><a href="http://bdcampbell.net/javascript/book/javascript_the_good_parts.pdf" target="_blank"><img src="img/logo/douglas-crockford.jpg" alt="Join us at the next meetup"></a></li>
  </ul>
</div>
